.article-style{
    background-color: palevioletred;
    color:azure;
    border: 20px solid transparent;
    text-align: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tasklist-text-style{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content-section{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15px;
}

.table-color {
    background-color: 'pink';
    font: "white";
}

.form-color {
    background-color: white;
}

